/* GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* VARIABLE CSS*/
:root{

    --header-height: 3rem;

/*Font weight*/
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;
/*color*/

/*change favorite color*/
--hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

   /* HSL color mode */
   --first-color: hsl(var(--hue-color), 69%, 61%) ;
   --first-color-second:hsl(var(--hue-color), 69%, 61%) ;
   --first-color-alt: hsl(var(--hue-color), 57%, 53%);
   --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
   --black-color: hsl(var(--hue-color), 8%, 15%);
   --black-normal-color: hsl(var(--hue-color), 8%, 45%);
   --black-light-color: hsl(var(--hue-color), 8%, 65%);
   --input-color: hsl(var(--hue-color), 70%, 96%) ;
   --body-color: hsl(var(--hue-color), 60%, 99%);
   --white-color: #fff;
   --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);


/*Font and typography*/
--body-font: 'Poppins', sans-serif;

 /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size:.938rem ;
--small-font-size: .813rem;
--smaller-font-size:.75rem ;

/*margin*/

--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 2.5rem;
--mb-6: 3rem;

/*zindex*/

--z-fidex:100;

/*rotable img*/
--rotage-img: rotate(-30deg);
}

/* Font size for large devices */
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size:1.25rem ;
        --normal-font-size:1rem ;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem ;
    }
}

/*variable dark theme*/
body.dark-theme{
    
   --first-color-second:hsl(var(--hue-color), 30%, 8%) ;
   --black-color: hsl(var(--hue-color), 8%, 95%);
   --black-normal-color: hsl(var(--hue-color), 8%, 75%);
   --black-light-color: hsl(var(--hue-color), 8%, 65%);
   --input-color: hsl(var(--hue-color), 29%, 16%) ;
   --body-color: hsl(var(--hue-color), 28%, 12%);
   --white-color: hsl(var(--hue-color), 29%, 16%);
   --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}


/*button dark/light*/
.nav__btns{
    display: flex;
    align-items: center;   
}
.change__theme{
    font-size: 1.25rem;
    color: var(--black-color);
    margin-right: 1rem;
    cursor: pointer;
}
.change__theme:hover{
    color: var(--first-color);
}

/*base*/

*::after,::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white-color);
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--black-color);
    line-height: 1.6;
}
h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-color);
}
a:hover{
    color: var(--first-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*class css*/

.section{
    padding: 5rem 0 2rem;
}
.section-title{
    position: relative;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing:.1rem ;
}
.section-title::after{
    content: "";
    position: absolute;
    width: 56px;
    height: .18rem;
    top:-1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--black-color);
}

/*layout*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fidex);
    background-color: var(--body-color);
}
/*nav*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__logo{
    font-weight: var(--font-semi-bold);
}
.nav__toggle, .nav__shop{
    font-size: 1.3rem;
    cursor: pointer  ;
}

/*show menu*/
.show{
    left: 0;
}
/*active link*/
.active{
    position: relative;
}
.active::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--black-color);
    border-radius: 50%;
}
/*change color header*/

.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0 2pc 4pc rgba(0, 0, 0, .1);
}
/******************************************** LOGIN *****************************************************/

.login{
    display: grid;
    grid-template-columns: 90%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
}
.login__content{
    display: grid;
}
.login__img{
    justify-content: center;
}
.login__img img{
    width: 400px;
    margin-top: 1.5rem;
}.login__forms{
    position: relative;
    height: 368px;
}
.login__registre, .login__create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: var(--first-color-alt);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animate-login;
}
@keyframes animate-login {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

.login__title{
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}
.login__box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: var(--white-color);
    margin-top: 1rem;
    border-radius: .5rem;

}
.login__icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.login__input{
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--black-color);
    background-color: var(--white-color);
}
.login__input::placeholder{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--first-color-lighter);
}
.login__forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color-lighter);
}
.login__button{
    width: 100%;
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    text-align: center;
    border-radius: .5rem;
    transition: .3rem;
}
.login__button:hover{
    background-color: var(--first-color-lighter);
}
.login__account, .login__singnin, .login__singnup{
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
}
.login__account{
    color: var(--first-color-lighter);
}
.login__signin, .login__signup{
    color: var(--first-color-second);
    cursor: pointer;
}
.login__social{
    margin-top: 2rem;
}
.login__social-icon{
    font-size: 1.5rem;
    color: var(--first-color-lighter);
    margin: 0 1.5rem;
}
/*show login*/

.block{
    display: block;
}
.none{
    display: none;
}

/*home*/
.home{
    background-color: var(--body-color);
    overflow: hidden;
}
.home__container{
    height: calc(100vh - var(--header-height));
}
.home__sneakers{
    position: relative;
    display: flex;
    justify-content: center;
align-self: center;
}
.home__shape{
    width: 220px;
    height: 220px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.home__img{
    position: absolute;
    top: 1.5rem;
    max-width: initial;
    width: 275px;
    transform: var(--rotage-img);
}
.home__new{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}
.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1);

}
.home__description{
    margin-bottom: var(--mb-6);
}
/*button*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color) ;
    padding: 1.125rem 2rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    transition: .3s;
}
.button:hover{
    color: var(--first-color-lighter);
    transform: translateY(-.25rem);
}
.button-light{
    display: inline-flex;
    color: var(--first-color);
    font-weight: var(--font-bold);
    align-items: center;
}
.button-light:hover{
    color: var(--first-color-lighter);
}
.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: .3s;
}
.button-light:hover .button-icon{
    transform: translateX(.25rem);
}
/*featured*/
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--body-color);
    border-radius: .5rem;
    transition: .3s;
}
.sneaker__sale{
    position: absolute;
    left: .5rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}
.sneaker__img{
    width: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    transform: var(--rotage-img);
    filter: drop-shadow(0 12px 8px rgba(0,0,0,.2));
}
.sneaker__name, .sneaker__price{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font-bold);
}
.sneaker__name{
    margin-bottom: var(--mb-1);
}
.sneaker__price{
    margin-bottom: var(--mb-4);
}
.sneaker:hover{
    transform: translateY(-.5rem);
}
.sneaker__page{
    margin-top: var(--mb-6);
}
.sneaker__pag{
    padding: .5rem 1rem;
    border: 1px solid var(--black-color);
}
.sneaker__pag:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}
/*collection*/
.collection__container{
    row-gap: 2rem;
    justify-content: center;
}

.collection__card{
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--body-color);
    padding: 2rem;
    border-radius: .5rem;
    transition: .3s;
}
.collection__data{
    align-self: flex-end ;
}
.collection__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}
.collection__name{
    font-size: var(--big-font-size);
    margin-bottom: .25rem;

}
.collection__description{
    margin-bottom: var(--mb-2);
}
.collection__card:hover{
    transform: translateY(-.5rem);
}
/*women sneakers*/
.women__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
}
/*offer*/
.offer__container{
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: var(--body-color);
    border-radius: .5rem;
    justify-content: center;
}
.offer__data{
    padding: 4rem 0 1.5rem;
}
.offer__title{
    font-size: var(--big-font-size);
    margin-bottom: .25rem;
}
.offer__description{
    margin-bottom: var(--mb-3);

}
.offer__img{
    width: 150px;
}
/*new collection*/
.new__container{
    row-gap: 2rem;
}

.new__mens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-color);
    border-radius: .5rem;
    padding: 2rem;
}
.new__mens-img{
    width: 276px;
    margin-bottom: var(--mb-3);
}
.new__title{
    font-size: var(--big-font-size);
    margin-bottom: .25rem;
}
.new__preci{
    display: block;
    margin-bottom: var(--mb-3);
}
.new__sneaker{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.new__sneaker-card{
    position: relative;
    padding: 3.5rem 1.5rem ;
    background-color: var(--body-color);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.new__sneaker-img{
    width: 220px;
}
.new__sneaker-overlay{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 138, 138, .3);
    transition: .3s;
}

.new__sneaker-card:hover .new__sneaker-overlay{
    bottom: 0;
}
/*newsletter*/

.newsletter__container{
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 2rem .2rem;
    border-radius: .5rem;
    text-align: center;
}
.newsletter__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
}
.newsletter__description{
    margin-bottom: var(--mb-5);
}

.newsletter__subscribe{
    display: flex;
    column-gap: .5rem;
    background-color: var(--body-color);
    padding: .5rem;
    border-radius: .5rem;
}
.newsletter__input{
    outline: none;
    border: none;
    width: 90%;
    font-size: var(--normal-font-size);
}
.newsletter__input::placeholder{
    color:var(--first-color-lighter);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
/*footer*/
.footer__container{
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
}
.footer__box{
    margin-bottom: var(--mb-4);
}
.footer__title{
    font-size: var(--h1-font-size);
}
.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}
.footer__social{
    font-size: 1.5rem;
    margin-right: 1.25rem;
}
.footer__copy{
    padding-top: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--black-light-color);
    text-align: center;
}
/*media queries*/
@media screen and (min-width: 576px){

    /**************************************login******************************************************/
    .login__forms{
        width: 348px;
        justify-self: center;
    }
    .collection__container{
        grid-template-columns: 415px;
    }
    .collection__img{
        width: 260px;
    }
    .offer__container{
        grid-template-columns: max-content max-content;
    }
    .offer__data{
        text-align: center;
         
    }
    .new__mens{
        align-items: center;
    }
}
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding: 7rem 0 3rem;
    }
    .section-title::after{
        width: 76px;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .home__container{
        height: 100hv;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
    }
    .home__sneakers{
        order: 1;
    }
    .home__shape{
        width: 376px;
        height: 376px;
    }
    .home__img{
        width: 470px;
        top: 3.5rem;
        right: 0;
        left: -3rem;
    }
    .newsletter__container{
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
        padding: 4.5rem 2rem;
        column-gap: 3rem;
    }
    .newsletter__description{
        margin-bottom: 0;
    }
    .newsletter__subscribe{
        width: 360px;
        height: max-content;
    }
}
@media screen and (min-width: 1024px){
    /*****************************************login*********************************************/
    .login{
        height: 100vh;
        overflow: hidden;
    }
    .login__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }
    .login__img{
        display: flex;
        width: 600px;
        height: 588px;
        background-color: var(--first-color-lighter);
        border-radius: 1rem;
        padding-left: 1rem;
    }
    .login__img img{
        width: 390px;
        margin-top: 0 ;
    }
    .login__registre, .login__create{
        left: -11rem;
    }
    .login__registre{
        bottom: -2rem;
    }
    .login__create{
        bottom: -5.5rem;
    }

    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 8rem;
    }
    .collection__container{
        grid-template-columns: repeat(2, 415px);
    }
    .new__container{
        grid-template-columns: max-content 1fr;
    }
    .new__mens{
        align-items: initial;
        justify-content: flex-end;
        padding: 4rem 2rem;
    }
    .new__mens-img{
        margin-bottom: var(--mb-6);
    }

}